@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --primary-color: blue;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.container {

    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}